.idea/
.DS_Store
._.DS_Store
**/__pycache__
tmp/
**/._**
**/*tmp___*
venv
secrets.yaml
data/**
ambianic/webapp/bower_components/paper/
**/.coverage*
**/coverage.xml
**/.__*
_mdwriter.cson
**/timeline-event-log.yaml
.pytest_cache/
**/.peerjsrc
**/ambianic_edge.egg-info/
ambianic-debug2.sh
