version: "3.7"
services:
  ambianic-edge:
    container_name: demo-ambianic-edge
    privileged: true
    image: wane01/demo-ambianic-edge-image:latest
    network_mode: "host"
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      # Ambianic Edge will look for its config.yaml file in the directory specified below
      # It will also store logs and data files under the same directory
      - /opt/ambianic-edge.prod:/workspace
    restart: on-failure
    healthcheck:
      test: ["CMD", "curl", "-sI", "http://127.0.0.1:8778/"]
      interval: 300s
      timeout: 3s
      retries: 10
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
  # use watchtower to automatically and gracefully update ambianic-edge docker images
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    # with --cleanup watchtower will remove old unused docker images
    command: --cleanup