<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ambianic Pipelines - Live View</title>
    <link rel="stylesheet" type="text/css" href="ppview.css">
    <!-- Load the Paper.js library -->
    <script type="text/javascript" src="js/paper-full.js?u={{ last_updated }}"></script>
    <!-- Load external PaperScript and associate it with myCanvas -->
    <script type="text/paperscript" src="js/pipelines-view.js" canvas="pipelines">
    </script>
</head>
<body>

	<canvas id="pipelines" resize></canvas>

</body>
</html>
